


.benefits {
  /*width: 100%;*/
  /*height: 1395px;*/
  /*background-color: #F7F7F7;*/
  /*padding:100px 0;*/
}

.benefits__container {
  display: flex;
  justify-content: center;
  background-color: #F7F7F7;
  width: 100%;
  height: auto;
  padding: 100px 0;
  padding-bottom: 0;
}

.benefits__container-inside {
  flex-direction: column;
  max-width: 1124px;
}

.benefits__container-first {
  width: 1124px;
  height: 370px;
  background-color: white;
  border: 1px solid #E8E9ED;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 37px;
  border-radius: 5px;
}

.benefits__container-left {
  width: 416px;
  padding: 91px 0;
  padding-left: 35px;

}

.befits__container-title {
  font-family: var(--font-sans);
  font-weight: 400;
  font-size: 36px;
}

.benefits__container-text {
  font-family: var(--font-sans);
  font-size: 16px;
}

.benefits__container-text::after {
  content: "";
  width: 332px;
  height: 4px;
  background-color: #FB3B64;
  display: block;
  margin-top: 50px;
}


.benefits__container-right {
  //width: auto;
  position: relative;
  padding: 0 0 0 0;
  //max-height: 100%;
  z-index:2;
}

.benefits__first-photo {
  position: relative;
}


//.benefits__first-photo .benefits__img {
//  height: 219px;
//  width: auto;
//  position: relative;
//  z-index: 2;
//  padding-top: 50px;
//}

//.laptop-container{
//  max-height: 100%;
//  width: auto;
//  padding-right: 117px;
//}

.benefit-laptop{
  position: relative;
  background-image: url("../../assets/Macbook.png");
  height: 219px;
  width: 386px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin: 113px 10px 13px -127px;
  right: 117px;


}

.romb {
  position: absolute;
  display: flex;
  max-width: 180px;
  width: 180px;
  max-height: 180px;
  height: 180px;
  background-color: #FB3B64;
  z-index: -1;
  border-radius: 41px;
  transform: rotate(45deg);
  bottom: 96px;
  left: 228px;
}


.benefits__container-second {
  margin: 0 auto;
  width: 1124px;
  height: 370px;
  background-color: white;
  border: 1px solid #E8E9ED;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /*margin-bottom: 37px;*/
  border-radius: 5px;
}


.benefits__container-left-second {
  width: 416px;
  /*padding: 91px 0 0 0;*/
  max-height: 100%;
}

//.benefits__second-photo {
//  height: 219px;
//  width: auto;
//  position: relative;
//
//}
//
//.benefits__img-second {
//  position: relative;
//  bottom: -132px;
//  left: 45px;
//  z-index: 2;
//}


.benefit-phone{
  position: relative;
  background-image: url("../../assets/iPhone.png");
  height: 328px;
  width: 426px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  //margin: 113px 10px 13px -127px;
z-index: 2;
  margin: 29px 0 13px 70px;

}

.circle {
  width: 320px;
  height: 320px;
  background-color: var(--color-blue);
  position: relative;
  z-index: 1;
  border-radius: 50%;
  bottom: 355px;
  left: 65px;

}

.benefits__container-right-second {
  width: 416px;
}

.befits__container-title-second {
  font-family: var(--font-sans);
  font-weight: 400;
  font-size: 36px;
  margin-top: 0px;
  width: 251px;
}

.benefits__container-text-second {
  font-family: var(--font-sans);
  font-size: 16px;
  padding-right: 20px;
}

.benefits__container-text-second::after {
  content: "";
  width: 332px;
  height: 4px;
  background-color: var(--color-blue);
  display: block;
  margin-top: 50px;
}


.benefits__container-right {
  position: relative;
}


.benefits__second-photo .benefits__img-second {
  height: 328px;
  width: auto;
  position: absolute;
  /*z-index: -3333333;*/

}

.benefits__container-third {
  display: flex;
  justify-content: space-between;

}


.benefits__container-third-left {
  display: flex;
  width: 623px;
  height: 370px;
  margin: 0px;
  margin-top: 37px;
  background-color: white;
  border: 1px solid #E8E9ED;
  //justify-content: center;
  flex-direction: column;


}


.befits__container-title {
  font-family: var(--font-sans);
  font-weight: 400;
  font-size: 36px;

}

.benefits__container-title-third {
  font-family: var(--font-sans);
  font-weight: 400;
  font-size: 36px;
  margin: 70px 0 30px 35px;
  width: 348px;
}


.benefits__container-text-third {
  width: 553px;
  height: 72px;
  margin-left: 35px;
  font-family: var(--font-sans);
  font-size: 16px;
  padding-right: 20px;
}

.benefits__container-text-third::after {
  content: "";
  width: 332px;
  height: 4px;
  background-color: #55DFB4;
  display: block;
  margin-top: 50px;
}

.benefits__container-third-right {
  width: 440px;
  height: 370px;
  background-color: #55DFB4;
  margin-top: 37px;
  border: 1px solid #E8E9ED;
  border-radius: 5px;
}


.benefits__third-photo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 440px;
  height: 370px;
}


.benefit-trumpet{
  position: relative;
  background-image: url("../../assets/Trumpet.png");
  height: 328px;
  width: 426px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  //margin: 113px 10px 13px -127px;
  z-index: 2;
  top: 20%;

}