.logo {
  text-decoration: none;
  color: var(--color-blue);
  font-family: var(--font-ral);
  font-size: 32px;
  font-weight: 300;
  margin-left: 136px;


}
.nav{

}
.header {
  //padding-top:20px;
  display: flex;
justify-content: center;
  width: 100%;
  box-shadow: 0 3px 6px #00000029;

  .header__container{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 65px;


    .header__nav{
      display: flex;
  list-style:none;
      width: 100%;
  justify-content: space-between;




      .nav__link {

        text-decoration: none;
        color: #A5A5A5;
        padding: 28px 18px 22px;
        font-size: 11px;
        font-family: var(--font-sans);
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 3.28px;



      }
    }
  }
}

.nav__link:last-of-type{
  margin-right: 50px;
}


.nav__link:hover {
  color: var(--color-black);
  border-bottom: 4px solid var(--color-blue);
}


.burger{
  position: absolute;

  visibility: hidden;

  flex-direction: column;
  left:93%;
  top:44%;

  span{
    width: 20px;
    height: 2px;
    display: block;
    background: var(--color-blue);
    margin-bottom: 2px;
  }
}

.burger__nav {
  position: relative;
  z-index: 999;
  list-style: none;

  justify-content: space-between;
  background: white;
  box-shadow: 0 3px 6px #00000029;
  height: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
.burger__element{
  margin-bottom: 14px;
  width: 100%;
}

  .burger__link {
    position: relative;

    text-decoration: none;
    color: #A5A5A5;
    padding: 28px 18px 22px;
    font-size: 11px;
    font-family: var(--font-sans);
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 3.28px;
    margin-bottom: 14px;

  }
}

.burger__menu{
  position: absolute;
  z-index: 99;
  width: 100%;
  height: 100%;
  top:88%;
  visibility: hidden;

}


.burger__btn{

  position: absolute;
  width: 20px;
  opacity: 0;
}