


.opening {
  display: flex;
  justify-content: center;
}

.opening__container {
  display: flex;
  flex-direction: column;
  margin-top: 130px;
}

.opening__title {
  display: flex;
  font-family: var(--font-ral);
  font-size: 49px;
  justify-content: center;
  margin-bottom: 20px;


}

.opening__text {
  display: flex;
  font-family: var(--font-sans);
  font-size: 16px;
  margin-top: 0px;
  margin-bottom: 38px;
  justify-content: center;
}

.opening__btn {
  display: flex;
  justify-content: center;
  text-decoration: none;
  font-weight: bold;
  color: white;
  border-radius: 40px;
  background-color: var(--color-blue);
  padding: 22px 155px;

}

.opening__image {
  width: 100%;
  height: 100%;

}


.background-laptop{
  background-image: url("../../assets/Background.png") ;
  background-repeat:no-repeat;
  background-size: cover;
  background-position:center;
  height: 516px;
  width: 100%;
}


