

.third__img {
  display: flex;
  width: 296px;
  height: auto;
  margin-top: 48px;

}


.prices__container-box {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: center;
}


.prices-title {
  display: flex;
  letter-spacing: 0px;
  color: #000000;
  font-family: var(--font-ral);
  font-size: 36px;
  justify-content: center;

}


.prices__containerbox1 {
  display: flex;
  width: 372px;
  height: 461px;
  border: 1px solid #FB3B64;
  border-radius: 18px;
  opacity: 1;
  flex-direction: column;
  align-items: center;
  //margin-left: 180px;
}


.containerbox-title {
  text-align: center;
  font-family: var(--font-ral);
  font-size: 20px;
  font-weight: bold;
  margin-top: 34px;
  margin-bottom: 14px;

}

.prices__containerbox1-price {
  text-align: center;
  color: #FB3B64;
  font-family: var(--font-sans);
  font-size: 46px;
  font-weight: lighter;
  padding-bottom: 69px;
}

.box1list {
  list-style: none;
  font-family: var(--font-sans);
  font-size: 14px;
  padding-bottom: 20px;
  text-align: center;
}

.containerbox1-list {
  padding: 0;
}

.prices__containerbox1-btn {
  display: flex;
  justify-content: center;
  text-decoration: none;
  font-weight: bold;
  color: white;
  border-radius: 40px;
  background-color: #FB3B64;
  width: 150px;
  height: 50px;
  position: relative;
  top: 33px;
}

.containerbox-btn-text {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
  font-family: var(--font-sans);
  font-size: 13px;
  font-weight: bold;

}


.prices__containerbox2 {

  width: 405px;
  height: 500px;

  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 5px 10px 27px #07ACE629;
  border: 1px solid #07ACE6;
  border-radius: 18px;
  opacity: 1;
  margin-left: 59px;
  margin-right: 59px;


  display: flex;
  flex-direction: column;
  align-items: center;

}

.price-title2 {

  color: #07ACE6;
  padding-bottom: 0;
}


.prices-limited {
  font-family: var(--font-sans);
  font-weight: bold;
  font-size: 12px;
  margin-top: 10px;
  margin-bottom: 61px;
  text-align: center;


}

.containerbox2-list {
  padding: 0;
}


.containerbox3 {
  border-color: #55DFB4;
  margin: 0;
}

.containerbox3-price {
  color: #55DFB4;
  padding-bottom: 0;

}

.prices-limited3 {
  font-family: var(--font-sans);
  font-weight: bold;
  font-size: 12px;
  margin-top: 10px;
  margin-bottom: 61px;
  text-align: center;
}


.price-btn2 {
  display: flex;
  background-color: #07ACE6;
  position: relative;
  top: 56px;
}


.price-btn3 {
  display: flex;
  background-color: #55DFB4;
  position: relative;
  top: 23px;
  width: 150px;
  min-height: 50px;
}